/**********Info Sections**********/

.container {
    display: flex;
    margin: 0 4rem;
    color: #3D3D3D;
}
.container:last-child {
    padding-top: 0;
}
.container div {
    align-self: center;
}
.container h1 {
    font-family: 'Barlow Condensed';
    font-size: 5rem;
    color: #1C1C1C;
}
.container h2 {
    font-weight: 300;
    color: #1C1C1C;
}
.container button {
    all: unset;
    cursor: pointer;
    font-family: 'Montserrat';
    padding: 0.5rem 4rem;
    margin: 1rem;
    border: 2px solid #0D3DEC;
    border-radius: 2rem;
    background-color: #0D3DEC;
    color: #F8F8FF;
}
.container button:last-child {
    background-color: #F8F8FF;
    color: #0D3DEC;
}
.container button:last-child:hover {
    color: #F8F8FF;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.catImg {
    width: 55vw;
    height: fit-content;
    margin: auto 0;
}


/**********Quote Section**********/

.quoteSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 4rem;
    background-image: url('../../assets/quotes.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.quoteText {
    font-size: 1.2rem;
    font-style: italic;
    color: #1C1C1C;
}
.quoteAuthor {
    color: #3D3D3D;
    margin-top: 0.5rem;
}


/**********Showcase Section**********/

.catShowcase {
    display: flex;
    flex-direction: column;
    margin: 0 4rem;
}

.catGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
}

.catGrid img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
}

.catShowcase button {
    all: unset;
    cursor: pointer;
    padding: 0.5rem 4rem;
    margin: 1rem auto;
    border: 2px solid #0D3DEC;
    border-radius: 2rem;
    background-color: #F8F8FF;
    color: #0D3DEC;
}


/**********Directions Section**********/

.directionSection {
    display: flex;
    align-items: center;
    margin: 0 4rem;
}
.directionSub {
    width: 60vw;
    padding: 0 10vw;
}
.directionSection h3 {
    font-size: 2rem;
    font-weight: 300;
    color: #1C1C1C;
    margin: 3rem 0;
}
.directionSection h4 {
    color:#0D3DEC;
}
.directionSection img {
    height: 1rem;
    width: 1rem;
}


/**********Sponsors Section**********/

.sponsorSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sponsorSection h3 {
    font-size: 2rem;
    font-weight: 300;
    color: #1C1C1C;
    margin: 3rem 0;
}
.logoSponsors {
    display: flex;
    flex-direction: row;
}
.logoSponsors img {
    width: 14vw;
    object-fit: contain;
    margin: 0 2vw;
}
.sponsorSection button {
    all: unset;
    cursor: pointer;
    padding: 0.5rem 4rem;
    margin: 5rem auto;
    border: 2px solid #0D3DEC;
    border-radius: 2rem;
    background-color: #0D3DEC;
    color: #F8F8FF;
}


button:hover {
    background: linear-gradient(to left, #0D3DEC, #001B80);
    color: #F8F8FF;
}